@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

.cookie {
  font-family: "Cookie", cursive;
}
.font-600{
  font-weight: 600;
}
.bg-theme-color{
  background-color: #e7272d;
}
.theme-color{
  color: #e7272d;
}
.link:hover .hover-it{
  height: 15px;
}
.theme-btn:hover{
  background-color: black;
}
.theme-btn2:hover{
  background-color: #e7272d;
  color: white;
}
.change:hover .change-t{
  color: #e7272d;
}
.seen,.seen1{
  overflow: hidden;
  visibility: hidden;
}
.seen:hover,
.hover-seen:hover ~ .seen{
  height: 246px;
  visibility: visible;
}
.seen1:hover,
.hover-seen:hover ~ .seen1{
  height: 100px;
  visibility: visible;
}
.bg-size{
  background-size: 100% 100%;
}
.bg-footer{
  background-color: rgb(20, 20, 20);
}
.bg-footer-2{
  background-color: rgb(15, 15, 15);
}